.mdmx-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mdmx-product-unavailable {
    opacity: 0.3;
}

@media only screen and (max-width: 500px) {
    .mdmx-products {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: unset;
    }
}
